* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Jost", sans-serif;
  background: #efd54e;
  color: #222c5f;
}

/* =====================
           HEADER
======================== */

.header {
  background: #483d3f;
}

.logo {
  text-align: center;
}

.logo a:link,
.logo a:visited,
.logo a:active {
  color: #c52233;
  text-decoration: none;
  font-weight: 700;
  font-size: 3rem;
}

.navigation {
  background: rgba(26, 31, 22, 0.363);
}

.navigation ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
}

.navlink:link,
.navlink:visited {
  color: #efd54e;
  font-size: 1.5rem;
  text-decoration: none;
}

.navlink:active,
.navlink:focus {
  color: #c52233;
  text-decoration: underline;
}

li {
  padding: 0.2em 0;
}

/* =====================
           HEADER
======================== */

/* ======================
            MAIN
========================= */

main {
  background: #cda716;
  padding: 1em;
  max-width: 56.25em;
  width: 95%;
  margin: 0 auto;
}

main article h2 {
  color: #c52233;
  margin: 0.5em 0 0 0;
}

main article {
  border-bottom: #ffffff solid 1.2px;
  padding: 0 0 1em 0;
}

main article:last-child {
  border: 0;
  padding: 0;
}

main article p {
  font-size: 1.25rem;
  margin: 0.7em 0 0 0;
}

main article li {
  font-size: 1.25rem;
  padding: 0;
  margin: 0.7em 0 0 2.5em;
}

main article:hover,
main article:focus {
  background: #efd54e;
  transition: all ease-out 1.5s;
}

.menu-button img,
.top-button img {
  min-width: 4em;
  width: 5%;
  position: fixed;
  z-index: 1;
  bottom: 6%;
  left: 24%;
}

/* ======================
            MAIN
========================= */

/* ======================
            ASIDE
========================= */

.sidenav,
.sidenav2 {
  background: #1a1f16;
  max-width: 50em;
  width: 85%;
  height: 97%;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.side-logo,
.side-logo2 {
  text-align: center;
  margin: 2em 0;
}

.side-logo a:link,
.side-logo a:visited,
.side-logo a:active,
.side-logo2 a:link,
.side-logo2 a:visited,
.side-logo2 a:active {
  color: #c52233;
  text-decoration: none;
  font-weight: 700;
  font-size: 2.5rem;
}

.menu-item:link,
.menu-item:visited,
.menu-item:active,
.menu-item2:link,
.menu-item2:visited,
.menu-item2:active,
#long-nav {
  color: #818181;
  text-decoration: none;
  cursor: pointer;
}

.menu-list,
.menu-list2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 70%;
  margin: auto 0;
}

/* ======================
            ASIDE
========================= */

/* ======================
            FOOTER
========================= */
footer {
  background: #483d3f;
  max-width: 56.25em;
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.more-info a:link,
.more-info a:visited,
.more-info a:active {
  color: #c52233;
  text-decoration: none;
}

.more-info span {
  color: #efd54e;
}

.more-info {
  display: flex;
  align-items: center;
}

.social {
  width: 15em;
  display: flex;
  justify-content: space-evenly;
}

.social a:link,
.social a:visited,
.social a:active {
  color: #efd54e;
  text-decoration: none;
  font-size: 2rem;
}

/* ======================
            FOOTER
========================= */

.hidden {
  display: none;
}

article input[type="button"] {
  background: #222c5f;
  color: #efd54e;
  border-radius: 15px;
  padding: 0 1em;
  margin: 0.5em 0 0 0;
  border: 0;
  font-family: inherit;
  font-size: inherit;
}

article input[type="button"] {
  outline: none;
}

/* RUMOURS PAGE */
article h1 {
  color: #c52233;
  margin: 1em 0;
  border-bottom: #ffffff solid 1.2px;
}

article h1:last-child {
  border: 0;
}

/* RUMOURS PAGE */

/* PRECAUTIONS PAGE */

.iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}

.iframe-container iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

#sixth > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#sixth h3 {
  color: #c52233;
}

#sixth img {
  width: 20%;
}
/* PRECAUTIONS PAGE */
@media (max-width: 480px) /* Mobile */ {
  .navigation ul {
    flex-direction: column;
    text-align: center;
  }

  .menu-button img,
  .top-button img {
    left: unset;
    bottom: unset;
    right: 10%;
    top: 15%;
  }

  .logo a:link,
  .logo a:visited,
  .logo a:active {
    font-size: 2.5rem;
  }

  .navlink:link,
  .navlink:visited,
  .navlink:active {
    font-size: 1.25rem;
  }

  footer {
    flex-direction: column;
  }

  .more-info {
    justify-content: center;
    margin: 0.5em 0;
  }

  .social {
    width: 100%;
  }

  article h1 {
    font-size: 1rem;
  }

  #sixth img {
    width: 0;
  }

  .side-logo2 a:link,
  .side-logo2 a:visited,
  .side-logo2 a:active {
    font-size: 1.75rem;
  }
}
